{% extends "base.html" %}
{% block content %}
{% load mathfilters %}
<h1>pydRRAw. A front end for RRDs inspired by dRRAw</h1>
<section class="demo">
  <div class="gridster">
	<ul>
    {% for dobject in dobjects %}
	{% url 'pydrraw:drawgraph' dobject.graphid as graphurl %}
        <li data-row="{{ forloop.counter|mod:dinfo.columns|add:1 }}" data-col="{{ forloop.counter }}" data-sizex="{{ dobject.widthratio }}" data-sizey="{{ dobject.heightratio }}"><img src="{{ graphurl }}/?height={{ dinfo.height|mul:dobject.heightratio }}&width={{ dinfo.width|mul:dobject.widthratio }}&nolegend=1&fullsizemode=1" height="{{ dinfo.height|mul:dobject.heightratio }}" width="{{ dinfo.width|mul:dobject.widthratio }}"/></a></li>
    {% empty %}
	<li> No Dash Items Found </li>
    {% endfor %}
	  </ul></div>


</section>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(function () { //DOM Ready

    $(".gridster ul").gridster({
        widget_margins: [5, 5],
        widget_base_dimensions: [{{ dinfo.width }} , {{ dinfo.height }}],
	max_columns: {{ dinfo.columns }},
	helper: 'clone',
	avoid_overlapped_widgets: true,
	resize: {
	   enabled: true
	},

    })

        var gridster = $(".gridster ul").gridster( {
		serialize_params: function($w, wgd) { 
                   return { 
                           id: wgd.el[0].id, 
                           col: wgd.col, 
                           row: wgd.row, 
                           size_x: wgd.size_x, 
                           size_y: wgd.size_y 
                    };
        	},
		draggable: {
//			handle: '.handle',
			stop: function(event, ui) {
	        		var gridData = JSON.stringify(gridster.serialize());
				console.log(gridData);
			},
		},
	}).data('gridster');
	        		var gridData = JSON.stringify(gridster.serialize());
				console.log(gridData);
//	$( "#draggable" ).draggable();
 //       $( ".gridster " ).droppable({
  //         drop: function( event, ui ) {
   //           $( "#draggable" ).removeAttr("style");
    //  	   }
    //	});

});
</script>
{% endblock %}
