{% extends "base2.html" %}
{% load static from staticfiles %}

<head>
{% block xhead %}
            <!-- Javascreeeeepts -->
            <script src="{% static "/static/pydrraw/js/jquery-1.7.2.min.js" %}"></script>
            <script src="{% static "/static/pydrraw/gridster.js/dist/jquery.gridster.min.js" %}"></script>
{% endblock %}
{% load mathfilters %}
</head>

{% block content %}
<section class="demo">
  <div class="gridster">
	<ul>
    {% for dobject in dobjects %}
      {% if dobject.type == 'S' %} 
	{% url 'pydrraw:drawgraph' dobject.graphid as graphurl %}
        <li class='dashitem' id="{{ forloop.counter }}" data-row='1' data-col='1' data-alttext='{{ dobject.alttext }}' data-graphurl='{{ graphurl }}' data-gtype='{{ dobject.type }}' data-graphid={{ dobject.graphid }} data-timelagratio={{ dobject.timelagratio }} data-sizex="{{ dobject.widthratio }}" data-sizey="{{ dobject.heightratio }}"></li>
      {% elif dobject.type == 'H' %}
        <li class='dashitem' id="{{ forloop.counter }}" data-row='1' data-col='1' data-alttext='{{ dobject.alttext }}' data-gtype='{{ dobject.type }}' data-graphid={{ dobject.graphid }} data-timelagratio={{ dobject.timelagratio }} data-sizex="{{ dobject.widthratio }}" data-sizey="{{ dobject.heightratio }}">{{ dobject.alttext|safe }}</li>
      {% else %}
        <li class='dashitem' id="{{ forloop.counter }}" data-row='1' data-col='1' data-alttext='{{ dobject.alttext }}' data-graphurl='{{ dobject.graphurl }}' data-gtype='{{ dobject.type }}' data-graphid={{ dobject.graphid }} data-timelagratio={{ dobject.timelagratio }} data-sizex="{{ dobject.widthratio }}" data-sizey="{{ dobject.heightratio }}"></li>
      {% endif %}
    {% empty %}
	<li> No Dash Items Found </li>
    {% endfor %}
	<li id="{{ dobjects.count|add:1 }}" data-row="{{ dobjects.count|add:1 }}" data-col=1 data-sizey=1 data-sizex=1 class='textinfo'>{{ dinfo.title|safe }}:{{ dinfo.desc|safe }}</li>
	  </ul></div>


{% url 'pydrraw:dash' dinfo.id as dashurl %}
<H2>{{ dinfo.title|safe }}</H2>
<H4>{{ dinfo.desc|safe }}
<a href="{{ dashurl }}?days=3">Three days</a>
<a href="{{ dashurl }}?cs=dark">Dark Theme</a>
<a href="{{ dashurl }}?cs=light">Light Theme</a>
<a href="{{ dashurl }}?hours=12&height=100&width=100&graphonly=1">BWAAA</a></H4>
</section>
{% endblock %}
{% block xfooter %}
{{dinfo.end}}
{% endblock %}
{% block script %}
<script type="text/javascript">
$(window).ready(function () {
	var endinms = new Date() / 1000;
	var nownow = Math.floor(endinms);
	var localData;
	localData = JSON.parse(localStorage.getItem('dash' + {{ dinfo.id }}));
	var serverlayout={{ dinfo.serialized_layout|safe|default:'[{"id":"1","col":1,"row":1,"size_x":2,"size_y":2},{"id":"2","col":2,"row":1,"size_x":2,"size_y":2}]'}};
	if(localData==null)  {
		localData=serverlayout;
	}
	if(localData!=null) {
		$.each(localData, function(i,value){
    			var id_name;
			id_name="#";
			id_name = id_name + value.id;
		    if (typeof $(id_name)[0] == 'undefined') {	
		    } else {
			$(id_name).attr({"data-col":value.col, "data-row":value.row, "data-sizex":value.size_x, "data-sizey":value.size_y});
			newwidth =  parseInt(({{dinfo.width}} + 2 * {{ dinfo.hmargin }}) * ($(id_name)[0].dataset.sizex) - (2 * {{ dinfo.hmargin }}));
			newheight =  parseInt(({{dinfo.height}} + 2 * {{ dinfo.vmargin }}) * ($(id_name)[0].dataset.sizey) - (2 * {{ dinfo.vmargin }}));
			newstart = parseInt(({{ dinfo.end }} - {{ dinfo.start }}) * 
			   ($(id_name)[0].dataset.timelagratio) * (-1) + nownow); 
			var fc = '{{ dinfo.forcecolor }}';
			if ($(id_name)[0].dataset.gtype == 'S') {
			rawgraphurl = $(id_name)[0].dataset.graphurl + '?' 
			timeurlappend = '&start=' + newstart + '&end=' + {{ dinfo.end }};
			sizeurlappend = '&height=' + newheight + '&width=' + newwidth;
			styleurlappend = '&nolegend=1&fullsizemode=1&graphonly={{ dinfo.graphonly }}';
			  if (fc == 'True') {
				styleurlappend+='&cs={{ dinfo.cs }}';
			  }
			imageurl = rawgraphurl + sizeurlappend + timeurlappend + styleurlappend;
			linkurl = rawgraphurl + timeurlappend + '&height=' + $(window).height() + '&width=' + $(window).width();;
			$(id_name)[0].innerHTML = "<img src=\"" + imageurl +  "\" height=newheight width=newwidth ondblclick=parent.location='" + linkurl + "'>";
			} else if ($(id_name)[0].dataset.gtype == 'G' || $(id_name)[0].dataset.gtype == 'I') {
			rawgraphurl = $(id_name)[0].dataset.graphurl 
			timeurlappend = '&from=' + newstart + '&until=' + {{ dinfo.end }};
			sizeurlappend = '&height=' + newheight + '&width=' + newwidth;
			styleurlappend = '&hideLegend=1&graphOnly={{ dinfo.graphonly }}';
			  if (fc == 'True') {
				//main colors want no leading #
				styleurlappend+='&bgcolor=' + '{{ csobj.cback }}'.substring(1);
				styleurlappend+='&fgcolor=' + '{{ csobj.cfont }}'.substring(1);
				styleurlappend+='&majorGridLineColor=' + '{{ csobj.cmgrid }}';
			  }
			imageurl = rawgraphurl + sizeurlappend + timeurlappend + styleurlappend;
			linkurl = rawgraphurl + timeurlappend + '&height=' + $(window).height() + '&width=' + $(window).width();;
			$(id_name)[0].innerHTML = "<img src=\"" + imageurl +  "\" height=newheight width=newwidth ondblclick=parent.location='" + linkurl + "'> ";
			} else if ($(id_name)[0].dataset.gtype == 'F') {
			rawgraphurl = $(id_name)[0].dataset.graphurl 
			  if (fc == 'True') {
				//apply colors to iframe?
			  }
			$(id_name)[0].innerHTML = "<div class='dashitem'><iframe id='myframe' src='"+rawgraphurl+"' height="+newheight+" width="+newwidth+"></iframe></div><span class='gs-resize-handle gs-resize-handle-both'></span> ";
			} else if ($(id_name)[0].dataset.gtype == 'H') {
			rawhtml = $(id_name)[0].dataset.alttext
			  if (fc == 'True') {
				//apply colors to iframe?
			  }
			//$(id_name)[0].innerHTML = $('<div/>').html(rawhtml).text();
			}
		    }
		});
	} else {
		console.log('No data returned by the server: ' + localData);	
		console.log('btw: ' + serverlayout);	
	}
});
$(function () { //DOM Ready
    $(".gridster ul").gridster({
        widget_margins: [{{dinfo.hmargin}}, {{dinfo.vmargin}}],
        widget_base_dimensions: [({{ dinfo.width }}), ({{ dinfo.height }})],
	max_columns: {{ dinfo.columns }},
	helper: 'clone',
	avoid_overlapped_widgets: true,
	resize: {
	   enabled: true,
	   stop: function(event, ui) {
		elid = this.$el.context.lastElementChild.id;
		newheight =  parseInt((this.min_widget_height * this.resize_last_sizey), 10) - (2 * {{ dinfo.vmargin }} );
		newwidth =  parseInt((this.min_widget_width * this.resize_last_sizex), 10) - (2 * {{ dinfo.hmargin }});
		newstart = parseInt(({{ dinfo.end }} - {{ dinfo.start }}) * (this.$resized_widget[0].dataset.timelagratio) * (-1) + {{ dinfo.end }}); //weird math is just to mirror fuxor mathfilters math above
		console.log(this);
			var fc = '{{ dinfo.forcecolor }}';
		if (this.$resized_widget[0].dataset.gtype == 'S') {
			rawgraphurl = this.$resized_widget[0].dataset.graphurl + '?';
			timeurlappend = '&start=' + newstart + '&end=' + {{ dinfo.end }};
			sizeurlappend = '&height=' + newheight + '&width=' + newwidth;
			styleurlappend = '&nolegend=1&fullsizemode=1&graphonly={{ dinfo.graphonly }}';
			  if (fc == 'True') {
				styleurlappend+='&cs={{ dinfo.cs }}';
			  }
		} else {
			rawgraphurl = this.$resized_widget[0].dataset.graphurl;
			timeurlappend = '&from=' + newstart + '&until=' + {{ dinfo.end }};
			sizeurlappend = '&height=' + newheight + '&width=' + newwidth;
			styleurlappend = '&hideLegend=1&graphOnly={{ dinfo.graphonly }}';
			  if (fc == 'True') {
				styleurlappend+='&bgcolor=' + '{{ csobj.cback }}'.substring(1);
				styleurlappend+='&fgcolor=' + '{{ csobj.cfont }}'.substring(1);
				styleurlappend+='&majorGridLineColor=' + '{{ csobj.cmgrid }}';
			  }
		}
		imageurl = rawgraphurl + sizeurlappend + timeurlappend + styleurlappend;
		linkurl = rawgraphurl + '&height=' + $(window).height() + '&width=' + $(window).width() + timeurlappend;
		this.$resized_widget[0].innerHTML = "<img src=\"" + imageurl +  "\" ondblclick=parent.location='" + linkurl + "' height=" +newheight+" width="+newwidth+" ><span class='gs-resize-handle gs-resize-handle-both'></span> ";
   		var gridData = JSON.stringify(gridstervar.serialize());
		console.log(gridData);
		localStorage.setItem('dash' + {{ dinfo.id }}, gridData);
	   },
	},
	serialize_params: function($w, wgd) { 
                   return { 
                           id: wgd.el[0].id, 
                           col: wgd.col, 
                           row: wgd.row, 
                           size_x: wgd.size_x, 
                           size_y: wgd.size_y 
                    };
        },
	draggable: {
			stop: function(event, ui) {
	        		var gridData = JSON.stringify(gridstervar.serialize());
				console.log(gridData);
				localStorage.setItem('dash' + {{ dinfo.id }}, gridData);
			},
	},
    })

        gridstervar = $(".gridster ul").gridster( {
	}).data('gridster');
});

$('.dashitem').mouseover(function() {
//		console.log(this.dataset.alttext);
  $('.textinfo').html(this.dataset.alttext + "<span class='gs-resize-handle gs-resize-handle-both'></span> ");
});

$('.dashitem').mouseout(function() {
//  $('.textinfo').css("visibility","hidden");
});


</script>
{% endblock %}
