{{% extends "base.html" %}
{% load static from staticfiles %}

<head>
{% block xhead %}
<script type="text/javascript" src="{% static "/static/pydrraw/js/jscolor/jscolor.js" %}"></script>
</head>
{% endblock %}
{% block content %}

<form method="post" action="{% url 'pydrraw:editgraph' graphid %}">
{% csrf_token %}
{{ form }}
<table>

{% for form in formset %}
	<tr>
	{% for field in form %}
		<td>
		{% if field.name == 'color' %}
		{{ field.label_tag }}{{ field }}
		{% else %}
		{{ field.label_tag }}{{ field }}
		{% endif %}
		</td>
	{% endfor %}
	</tr>
{% endfor %}
{{ formset.management_form }}
</table>

<input type="submit" value="Save" />
{{ status }}
</form>
<img id='preview' src="{% url 'pydrraw:drawgraph' graphid %}">
{% endblock %}
