{% extends "base.html" %}

{% block content %}
<table><tr><td>
<table class="table table-bordered">
  <tbody>
    {% for rrd in rrds %}
	{% url 'pydrraw:headerinfo' rrd.rootdir rrd.subpath as infourl %}
	{% url 'pydrraw:rawview' rrd.rootdir rrd.subpath as rawurl %}
        {% url 'pydrraw:drawsimplegraph' rrd.rootdir rrd.subpath rrd.ds 'AVERAGE' as simpleurl %}
      <tr>
        <td>{{ rrd.rootdir }}</td>
        <td>{{ rrd.subpath }}</td>
        <td><a href='{{ infourl }}' target='thumbpreview'>Header Info</a></td>
        <td><a href='{{ rawurl }}' target='thumbpreview'>Raw Data</a></td>
        <td><a href="{{ simpleurl }}?height=400&width=600" target='thumbpreview'>Graph</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</td>
<td>{{ rrd.rootdir }} {{ rrd.subpath }} {{ rrd.ds }}<br>
<iframe name='thumbpreview' frameborder="0" height="400" width="600" src=""></iframe></td>
</tr></table>
{% endblock %}
