<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% load mathfilters %}
{% load static from staticfiles %}
<html lang="en">
	<head>
	    <meta name="author" content="gyurisc">
	    <title>{% block title %}{% endblock %}</title>
	    <!-- Icons -->
	  	<link rel="shortcut icon" href="/favicon.ico">
	  	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	  	<!-- CSS Styles -->

		<link rel="stylesheet" type="text/css" href="/static/pydrraw/gridster.js/dist/jquery.gridster.css">
		<link rel="stylesheet" type="text/css" href="/static/pydrraw/css/style.css">
	    <!-- Javascripts -->
	    {% block xhead %}{% endblock %}
	</head>
	<body>
	    {% block content %}{% endblock %}
	    {% block footer %}
	    <hr>
	    <p align="left">pydRRAw. A front end for RRDs inspired by dRRAw</p>
	    <p align="right">strogg 2014</p>
	    {% endblock %}
	</body>
</html>
{% block script %}{% endblock %}
